// This file contains all the constants for typist app

// PALETTE

// Dark Mode
$text--main--dark: #B6B6B6;
$text--dimmed--dark: #333;
$elements--main--dark: #242727;
$elements--shadow--dark: #1B1D1D;
$elements--highlight--dark: #2D3131;
$helpers--grey--dark: #C4C4C4;
$helpers--danger--dark: #BE475D;
$helpers--success--dark: #4AB66F;
$helpers--popup--dark: #24D4D4;

// Light
$text--main--light: #333;
$text--dimmed--light: #C4C4C4;
$elements--main--light: #F0F5F5;
$elements--shadow--light: #CCD0D0;
$elements--highlight--light: #FFF;
$helpers--grey--light: #C4C4C4;
$helpers--danger--light: #BE475D;
$helpers--success--light: #4AB66F;
$helpers--popup--light: #05DADC;
